streamlit==1.30.0
pinecone-client==7.0.2
langchain==0.3.26
langchain-openai==0.3.25
langchain-pinecone==0.2.8
langchain-community==0.1.7
langchain-huggingface==0.0.13
tqdm==4.67.1
pypdf==3.14.0
huggingface-hub==0.16.4
